ap-announce {
  display: block;
  padding: 10px;

  .head {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 80px;

    .name-box {
      flex-grow: 1;

      display: flex;
      flex-direction: column;
      justify-content: center;
      span.name {
        font-weight: bold;
        font-size: 1.2em;
      }
    }
    ap-image {
      background-color: var(--bk-color);
      width: 80px;
      height: 80px;
    }
  }
  .desc {
    white-space: pre-line;
    margin-top: 20px;
  }
  .link {
    display: inline-block;
    margin-top: 10px;
  }
}
