app-image {
  --page-max-width: none;
  background-color: black;

  display: flex;

  &.page {
    padding: 0;
  }

  pinch-zoom {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media-mobile-mode() {
      margin-bottom: 48px;
    }

    img {
      max-width: 80%;
      max-height: 80%;
      object-fit: contain;
    }
  }

  ap-spinner {
    margin: auto;
  }
}
