inputs:
  BUILD_VALUES:
    required: true

outputs:
  BUILD_NUMBER:
    value: ${{ steps.build_version.outputs.BUILD_NUMBER }}
  APP_VERSION:
    value: ${{ steps.build_version.outputs.APP_VERSION }}
  FIREBASE_APP_ID_ANDROID:
    value: ${{ steps.extract_secrets.outputs.FIREBASE_APP_ID_ANDROID }}
  FIREBASE_APP_ID_IOS:
    value: ${{ steps.extract_secrets.outputs.FIREBASE_APP_ID_IOS }}
  AD_HOC_PROVISION_NAME:
    value: ${{ steps.extract_secrets.outputs.AD_HOC_PROVISION_NAME }}
  AD_HOC_APPID:
    value: ${{ steps.extract_secrets.outputs.AD_HOC_APPID }}

runs:
  using: 'composite'

  steps:
    - id: build_version
      run: node .github/workflows/build_version.js
      shell: bash

    - run: npm install
      shell: bash

    - id: extract_secrets
      run: npm run extract -w tools/secrets
      shell: bash
      env:
        BUILD_VALUES: ${{ inputs.BUILD_VALUES }}

    - run: npm run build:shared
      shell: bash
