resources/android
resources/ios
assetlinks.json
apple-app-site-association
**/google-services.json
**/GoogleService-Info.plist
**/App.entitlements
android.custom.properties
play-console-account.json
upload-keystore.jks
