ap-root {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  div.header {
    display: flex;
    flex-direction: row;
    align-items: center;

    min-height: 48px;
    background-color: var(--header-bk-color);
    color: var(--header-color);

    .spacer {
      flex-grow: 1;
    }

    a.back {
      text-decoration: none;
      padding: 10px;
    }
    a.button,
    button {
      margin: 5px;
    }
  }

  .page {
    flex-grow: 1;
    width: 100%;
    max-width: var(--page-max-width);
    margin: 0 auto var(--page-margin-bottom);
  }
  .page.hide {
    display: none;
  }
}
