ap-root {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  div.header {
    display: flex;
    flex-direction: row;

    font-size: 20px;
    background-color: var(--header-bk-color);
    color: var(--header-color);
    a.back {
      text-decoration: none;
      display: inline-block;
      padding: 10px 15px 10px 10px;
      margin-right: auto;
      &.hidden {
        visibility: hidden;
      }
    }
    a.button,
    button {
      display: inline-block;
      margin: auto 5px;
    }
  }

  .page {
    flex-grow: 1;
    width: 100%;
    max-width: var(--page-max-width);
    margin: 0 auto var(--page-margin-bottom);
  }
  .page.hide {
    display: none;
  }
}
