<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>261994071622-l0mvhm6g73uji6a0sp9g9c9gu2aabnu5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.261994071622-l0mvhm6g73uji6a0sp9g9c9gu2aabnu5</string>
	<key>API_KEY</key>
	<string>AIzaSyB_M39FrsKlfkof9r6uxHW1G4e0m-2tpZk</string>
	<key>GCM_SENDER_ID</key>
	<string>261994071622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.announcing.client.dev</string>
	<key>PROJECT_ID</key>
	<string>announcing-dev3</string>
	<key>STORAGE_BUCKET</key>
	<string>announcing-dev3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261994071622:ios:0cabf9024ac018b25a6c47</string>
</dict>
</plist>