name: build-firebase

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '14'
          cache: 'npm'

      - uses: ./.github/workflows/build-setup
        with:
          BUILD_VALUES: ${{ secrets.BUILD_VALUES }}
        id: build_setup

      - run: npm run - firebase.deploy
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
