name: build-client-android-debug

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '14'
          cache: 'npm'

      - uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '11'

      # https://github.com/actions/cache/blob/main/examples.md#java---gradle
      - uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - uses: ./.github/workflows/build-setup
        with:
          BUILD_VALUES: ${{ secrets.BUILD_VALUES }}
        id: build_setup

      - run: npm run build.android -w packages/client

      - run: ./gradlew assembleDebug
        working-directory: ./packages/client/android

      - uses: actions/upload-artifact@v2
        with:
          name: announcing-debug.apk
          path: ./packages/client/android/app/build/outputs/apk/debug/app-debug.apk

      - run: >-
          npm_config_yes=true npx firebase-tools
          appdistribution:distribute
          ./packages/client/android/app/build/outputs/apk/debug/app-debug.apk
          --app ${APP_ID}
          --groups testers
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
          APP_ID: ${{ steps.build_setup.outputs.FIREBASE_APP_ID_ANDROID }}
