name: build-client-android-debug

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: ./.github/workflows/build-client-android-setup

      - run: ./gradlew assembleDebug
        working-directory: ./client/android

      - uses: actions/upload-artifact@v2
        with:
          name: announcing-debug.apk
          path: ./client/android/app/build/outputs/apk/debug/app-debug.apk

      - run: >-
          npm_config_yes=true npx firebase-tools
          appdistribution:distribute
          ./client/android/app/build/outputs/apk/debug/app-debug.apk
          --app ${APP_ID}
          --groups testers
        env:
          FIREBASE_TOKEN: ${{ secrets._FIREBASE_TOKEN }}
          APP_ID: ${{ secrets._FIREBASE_APP_ID_ANDROID }}
