ap-posts {
  .post {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    line-height: 1.8;
    padding: 20px 10px;
    height: 150px;
    border-top: 1px solid var(--light-border-color);
    text-decoration: none;

    .date {
      font-size: 0.9em;
    }
    .content {
      margin: auto 0;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      .body {
        font-size: 0.95em;
      }
    }

    &.child {
      margin-left: 40px;
      position: relative;
      border-top: unset;

      &::before {
        position: absolute;
        display: block;
        content: '';
        top: 15px;
        left: -10px;
        bottom: 15px;
        border-left: 2px solid var(--light-border-color);
      }
    }
  }
}
