ap-posts {
  .post {
    margin: 15px 10px;
    display: flex;
    flex-direction: column;
    line-height: 1.8;
    padding: 10px;
    height: 150px;

    .date {
      font-size: 0.9em;
    }
    .content {
      margin: auto 0;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      .body {
        font-size: 0.95em;
      }
    }
  }
}
